<% if user_signed_in? %>
<link><%=current_user.email %>
<li><%= link_to 'signout', destroy_user_session_path, method: :delete%></li>
<% else %>
<li><%= link_to 'Sign In', new_user_session_path %></li>
<li >	<%= link_to 'Add Album', new_album_path  %></li>
<li > <%= link_to 'My Album', albums_path %></li>
<% end %>